<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- UCF設定ファイルパス -->
		<add key="InitFilePath" value=".\sys\UcfInitCallClosureCompiler.xml"/>
		<add key="UcfLicenseKey" value="XSVOF-3MN90-KBAG6-VNARR-TL6UM"/>
   
		<!-- EXEの設定を書き込むファイルパス（相対パスにすることでEXEと同じ場所に保存） -->
		<add key="ConfigDataFilePath" value="UcfCallClosureCompiler.xml.dat"/>
		<!-- ログファイル名 -->
		<add key="LogFileName" value="UcfCallClosureCompiler.pcs"/>
		<!-- エラーログファイル名 -->
		<add key="ErrorLogFileName" value="UcfCallClosureCompiler.err"/>
		<!-- 重複チェックキー（空なら制御しない） -->
		<add key="MutexCheckKey" value=""/>
		<!-- アプリケーションサブタイトル初期値 -->
		<add key="AppSubTitle" value=""/>
    <add key="Language" value="ja" />
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
